/mods
/logs
/resourcepacks
/saves
/screenshots
/texturepacks
/server-resource-packs
/crash-reports
/dumps
/journeymap
/astralsorcery/**
/.mixin.out/**
/llibrary/**
/build

/config/tellme/**
/config/XaeroWaypoints/**
/config/splash.properties
/config/jei/worldSettings.cfg
/config/jei/bookmarks.ini
/config/astralsorcery/amulet_enchantments.cfg
/config/BiomeTweaker/output
/config/cavegenerator/example_presets


# root files
ModUpdaterPack.json
patchouli_data.json
config.json
realms_persistence.json
usercache.json
usernamecache.json
crafttweaker.log
zs_export.json
notes.md
icon.png
dropt.log
BotaniaVars.dat
textures_0.png

# Types
*.pdf