setPortal(1, 0, 88, "chisel:antiblock")
setPortalIgniter(1, "minecraft:torch", 0)

setPortal(2, 0, 89, "contenttweaker:faux_steel")
setPortalIgniter(2, "immersiveengineering:tool", 0)

setPortal(3, 0, 90, "contenttweaker:blessed_portal_stone")
setPortalIgniter(3, "contenttweaker:blood_raven_feather", 0)

setPortal(4, 0, 91, "contenttweaker:combat_simulation_portal_block")
setPortalIgniter(4, "appliedenergistics2:charged_staff", 0 , "{internalCurrentPower: 8000.0}")

# Replace red rock with Terracotta in the HexLands dimension. Used later in progression
hexlands = setDimensionDefinition(88)
replaceRedRock = hexlands.addBlockReplacement()
replaceRedRock.addGenerationPoint("POPULATE_CHUNK_PRE")
replaceRedRock.setBlockToReplace("traverse:red_rock")
replaceRedRock.setReplacement("minecraft:stained_hardened_clay", 14)

# Lunar plane stuff
lunarPlane = setDimensionDefinition(89)
lunarReplaceStone = lunarPlane.addBlockReplacement()
# Replace stone with Chisel Marble
lunarReplaceStone.addGenerationPoint("POPULATE_CHUNK_PRE")
lunarReplaceStone.setYMin(71)
lunarReplaceStone.setBlockToReplace("minecraft:stone")
lunarReplaceStone.setReplacement("chisel:marble2", 7)

# Arid Waste stuff
aridWaste = setDimensionDefinition(90)
# Switch Biome borders from grass to red sand
aridWasteRemoveHighElevationGrass = aridWaste.addBlockReplacement()
aridWasteRemoveHighElevationGrass.addGenerationPoint("POPULATE_CHUNK_PRE")
aridWasteRemoveHighElevationGrass.setBiome("biometweaker:aw_oil_ocean")
aridWasteRemoveHighElevationGrass.setYMin(61)
aridWasteRemoveHighElevationGrass.setBlockToReplace("minecraft:grass")
aridWasteRemoveHighElevationGrass.setReplacement("minecraft:sand", 1)
# Switch Biome borders from dirt to red sand
aridWasteRemoveHighElevationDirt = aridWaste.addBlockReplacement()
aridWasteRemoveHighElevationDirt.addGenerationPoint("POPULATE_CHUNK_PRE")
aridWasteRemoveHighElevationDirt.setYMin(61)
aridWasteRemoveHighElevationDirt.setBlockToReplace("minecraft:dirt")
aridWasteRemoveHighElevationDirt.setReplacement("minecraft:sand", 1)
# Replace Stone with clay above the bedrock layer
aridWasteStoneClayReplacement = aridWaste.addBlockReplacement()
aridWasteStoneClayReplacement.addGenerationPoint("POPULATE_CHUNK_PRE")
aridWasteStoneClayReplacement.setYMin(51)
aridWasteStoneClayReplacement.setYMax(63)
aridWasteStoneClayReplacement.setBlockToReplace("minecraft:stone")
aridWasteStoneClayReplacement.setReplacement("minecraft:clay")
# 1st Bedrock Layer
aridWasteAddBedrock = aridWaste.addBlockReplacement()
aridWasteAddBedrock.addGenerationPoint("BIOME_BLOCK_REPLACEMENT")
aridWasteAddBedrock.setYMin(50)
aridWasteAddBedrock.setYMax(50)
aridWasteAddBedrock.setReplacement("minecraft:bedrock")