# Configuration file

general {
    # Adds item repair cost to the extra/advanced tooltips
    B:"Display item repair cost in advanced tooltips"=false

    # Displays a glowing skeleton skull above all nearby mobs that
    # can be repelled with the holy symbol in your off or main hand
    B:"Highlight mobs that will be affected by your holy symbol"=true

    # Controls how see-through the Mage Hand pet is.
    # Min: 0.1
    # Max: 1.0
    D:"Mage Hand transparency"=0.25
    B:"Render relevant baubles on the players wearing them"=true
}


